<%= javascript_pack_tag 'index', 'data-turbolinks-track': 'reload' %>

<link href="https://fonts.googleapis.com/css2?family=Karla&family=Orbitron&display=swap">
<html>
<body>
    <h2>To Do List</h2>
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div id='todo-list'>
          </div>
          <form id="create-task">
            <input id="new-task-content" type="text" placeholder="new task" required/>
            <button>Create</button>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>