/*index.css*/
html, body.static_pages.index {
    height: 100%;
    background-color: #dfdfdf;
    padding-top: 50px;
  }

div.container {
  background-color: aqua;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  border: 1px solid black;
    margin-top: 40px;
    margin-bottom: 50px;
    width: auto;
    padding: 20px;
    width: 50%;
    max-width: 500px; 
  }

h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 150px;
    text-align: center;
    margin-top: 200px;
    
  }

input {
    
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
  }

.delete {
    margin-right: 5px;
  }

  #create-task {
    margin-top: 30px;
    margin-bottom: 30px;

  }